<% @books.each do |user_image| %>
  <div>
    <%= image_tag post_image.get_image %>
    <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
    <p>Title：<%= book.title %></p>
    <p>body：<%= book.caption %></p>
    <p>ユーザーネーム：<%= book.user.name %></p>
  </div>
<% end %>