<%= render 'users/from', locals: { user: @user, book: @new_book } %>

<h2>Book detail</h2>

<div>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book), method: :get %>
  <% end %>
  <% if @book.user == current_user %>
    <%= link_to "destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %>
  <% end %>
</div>